// Color
$white-color: #ffffff;
$black-color: #000000;
$light-green-color: #1eb8b8;


// Text color
$white-text-color: #ffffff;
$black-text-color: #000000;

// Background
$bg-primary-color: #303030;
$bg-color: #ffffff;

// Border color
$border-primary-color: #303030;
$border-white-color: #ffffff;

// Box shadow
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
