
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 6px;
  }
}

.logo-width-height {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.icons-width-height {
  width: 30px;
  height: 30px;
  display: inline-block;

  svg, path {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: $black-color;
}

.link-light {
  color: $white-color;
}

.arrow {
  margin-left: 8px;
  width: 12px;
  
  path {
    fill: $black-color;
  }

  &-light {
    path {
      fill: $white-color;
    }
  }
}

.icon:hover {
  .edit, .delete {
    path {
    fill: $white-text-color;
    }
  }
}

li {
  list-style-type: none;
}